# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

poetry.lock

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
result

# Pycharm
.idea/

.direnv/